header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.8rem;
  margin-bottom: 15rem;
  padding: 0 7rem;
  background-color: #121212;
}
header h4 {
  color: #CA2424;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
}
header .navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
}
header .navbar-list li a {
  position: relative;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem;
}
header .navbar-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #FFF;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
header .navbar-list li a:hover::after {
  transform: scaleX(95%);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-presentation {
  color: #aa1414;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.508rem;
  margin-bottom: 12rem;
}
.home-presentation span {
  font-size: 5.7rem;
  font-weight: 700;
  line-height: 7.5rem;
}
.home-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25.6rem;
  margin-top: 12rem;
}
.home-social-media li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}
.home-social-media li a img {
  transition: all 1s;
}
.home-social-media li a img:hover {
  width: 8rem;
  height: 8rem;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}
.about-title {
  color: #aa1414;
  font-size: 5rem;
  line-height: 6.6rem;
  margin-bottom: 11rem;
}
.about-paragraph {
  font-size: 2.9rem;
  padding: 0 35.4rem;
  color: #d4d4d4;
}

.ability {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}
.ability-title {
  color: #aa1414;
  font-size: 5rem;
  line-height: 6.6rem;
  margin-bottom: 6rem;
}
.ability-div {
  background-color: #323232;
  padding: 2.445rem 3.318rem;
  width: 70.9rem;
  border-radius: 5rem;
}
.ability-div .list-ability {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.056rem;
}
.ability-div .list-ability-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 19.384rem;
  height: 17.987rem;
  border-radius: 5rem;
  background-color: #444444;
}
.ability-div .list-ability-itens::after {
  content: attr(data-content);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  color: #ffc2cc;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4.7rem;
  border-radius: 5rem;
  background-image: linear-gradient(180deg, #CA2424 0%, rgba(68, 68, 68, 0) 100%);
}
.ability-div .list-ability-itens:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.projects-title {
  color: #aa1414;
  font-size: 5rem;
  line-height: 6.6rem;
  margin-bottom: 11.7rem;
}
.projects-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}
.projects-list-itens {
  width: 59rem;
  height: 50rem;
  background-color: #323232;
  text-align: center;
  padding: 1.8rem 3.7rem;
}
.projects-list-itens img {
  width: 51.6rem;
}
.projects-list-itens .info {
  margin-top: 2rem;
  height: 40%;
  padding: 0 0.8rem;
  overflow-y: auto;
  color: #b3b3b3;
}
.projects-list-itens .info h4 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #CA2424;
}
.projects-list-itens .info .techs {
  font-weight: 700;
  color: rgb(87, 87, 87);
  margin-top: 0.5rem;
}
.projects-list-itens .info hr {
  margin: 1rem 0;
}
.projects-list-itens .info p {
  margin-bottom: 2rem;
}
.projects-list-itens .info button {
  padding: 0.5rem 3.5rem;
  background-color: #444444;
  font-size: 1.7rem;
}
.projects-list-itens .info button:hover {
  cursor: pointer;
  background-color: #323232;
}
.projects-list-itens .info::-webkit-scrollbar {
  width: 0.8rem;
}
.projects-list-itens .info::-webkit-scrollbar-track {
  background: #212121;
}
.projects-list-itens .info::-webkit-scrollbar-thumb {
  background-color: #CA2424;
  border-radius: 2rem;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20rem;
  background-color: #121212;
  padding: 5rem 0;
}
.contact-title {
  color: #aa1414;
  font-size: 5rem;
  line-height: 6.6rem;
  font-size: 6rem;
  position: relative;
  bottom: 10rem;
}
.contact-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: rgb(212, 0, 0);
}
.contact-form .personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}
.contact-form .personal div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.contact-form .input {
  padding: 0.5rem 1rem;
  background-color: #333333;
  color: #d4d4d4;
  border: 0;
}
.contact-form button {
  width: 10rem;
  height: 3.5rem;
  margin-top: 3rem;
  background-color: #333333;
}
.contact-form button:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.btn-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  background-color: #CA2424;
  width: 5rem;
  height: 5rem;
  transform: rotateY(180deg) translateX(-100%);
  border: 0;
  border-radius: 5rem;
  transition: all 1s;
}
.btn-top i {
  color: #000;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg) translateX(0);
}

/*# sourceMappingURL=styles.css.map */
