$body-bg-color: #212121;
$navbar-bg-color: #121212;
$nav-text-color: #CA2424;
$text-color: #aa1414;
$paragraph-color: #d4d4d4;
$header-height: 7.8rem;
$div-color: #323232;
$techs-itens-color: #444444;